################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dapper-sqlite-demo-app/.vs/dapper-sqlite-demo-app/v16/.suo
/dapper-sqlite-demo-app/dapper-sqlite-demo/obj
/dapper-sqlite-demo-app/dapper-sqlite-demo/Properties
/dapper-sqlite-demo-app/dapper-sqlite-demo/dapper-sqlite-demo.csproj.user
/dapper-sqlite-demo-app/dapper-sqlite-demo/bin/Debug/netcoreapp3.1
/dapper-sqlite-demo-app/dapper-sqlite-demo/.vscode
/dapper-sqlite-demo-app/.vs/dapper-sqlite-demo-app/DesignTimeBuild/.dtbcache.v2
/dapper-sqlite-demo-app/dapper-sqlite-demo-tests/bin/Debug/netcoreapp3.1
/dapper-sqlite-demo-app/dapper-sqlite-demo-tests/obj
/dapper-sqlite-demo-app/dapper-sqlite-demo-tests/dapper-sqlite-demo-tests.csproj.user
/dapper-sqlite-demo-app/.vs/dapper-sqlite-demo-app/v16/TestStore/0
/dapper-sqlite-demo-app/dapper-sqlite-demo/log.sqlite
